* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter";
  font-style: normal;
  background-color: #454545;
  height: 100vh;
  display: flex;
  align-items: center;
}

.player-wrapper {
  width: 540px;
  margin: 0 auto;
  display: flex;
  gap: 32px;
  background-color: #fffef8;
  border-radius: 15px;
}
.songImg {
  background-image: url(./assets/bfmvCover.jpg);
  width: 169px;
  height: 169px;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 15px 0 0 15px;
}
/* -------------------Song Data-----------------*/
.songPlayer {
  width: 310px;
  display: flex;
  flex-direction: column;
  row-gap: 23px;
  padding-top: 18px;
}
.songHeader {
  width: 305px;
  display: flex;
  justify-content: space-between;
}
.songHeader__data {
  width: 285px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  word-wrap: break-word;
}
.songHeader__title {
  font: 700 18px "Inter";
  color: black;
}
.songHeader__name {
  font: 400 14px "Inter";
  color: #454545;
}
.songHeader__spotifyBtn {
  background-image: url(./assets/spotifyBtn.svg);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}
/* -------------------progress bar-----------------*/
.progressBar {
  display: flex;
  align-items: center;
  gap: 16px;
}
.progressBar__line {
  display: flex;
  align-items: center;
  background-color: #dadada;
  width: 257px;
  height: 3px;
}
.progressBar__progress {
  background-color: #8b0000;
  width: 1px;
  height: 2px;
}
.progressBar__time {
  font: 400 12px "Inter";
}
/* -------------------Song controll bar-----------------*/
.songControll {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.songControll__repeatBtn {
  background-image: url(./assets/repeatBtn.svg);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
}
/* -------------------controll panel-----------------*/
.songControll-panel {
  display: flex;
  gap: 20px;
}
.songControll__prevBtn {
  background-image: url(./assets/prevBtn.svg);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
}
.songControll__playPauseBtn {
  background-image: url(./assets/playBtn.svg);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
}
.songControll__nextBtn {
  background-image: url(./assets/nextBtn.svg);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
}
.songControll__favBtn {
  background-image: url(./assets/favBtn.svg);
  width: 20px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: contain;
}

.asd {
  background-image: url(./assets/soadCover.jpg);
}
